body {
    text-align: center;
}

.app {
    border: 20px solid  #CCFF00;
    border-radius: 10px;
    width: 97%;
    display: grid;
    grid-template-areas: 
        "title  title"
        "cart   cards"
        "check  cards";
    grid-template-columns: 1fr 3fr;
}

h1 {
    grid-area: title;
    background-color: black;
    background-position: center;
    font-family: 'Bangers', cursive;
    text-decoration: underline;
    text-decoration-style: double;
    color: #CCFF00;
    border-radius: 10000px;
}

.birdcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
}
.card {
    grid-area: cards;
    border: 2px solid #CCFF00;
    border-radius: 10px;
    width: 180px;
    height: 290px;
    margin: 5px;
    
}

.Cart {
    grid-area: cart;
    border: 2px solid #CCFF00;
    border-radius: 10px;
    margin-left: 10px;
}

.top {
    height: auto;
}

.Checkout {
    grid-area: check;
    border: 2px solid #CCFF00;
    border-radius: 10px;
    padding-top: 50px;
}

img {
    object-fit: cover;
}