body {
    text-align: center;
}

.app {
    border: 20px solid  #CCFF00;
    border-radius: 10px;
    display: grid;
    grid-template-areas: 
    "title  title"
    "cart   cards"
    "check  cards";
    grid-template-columns: 1fr 3fr;
    width: 97%;
}


.birdcards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5px;
}

.card {
    border: 2px solid #CCFF00;
    border-radius: 10px;
    grid-area: cards;
    height: 290px;
    margin: 5px;
    width: 180px;
}

.Cart {
    border: 2px solid #CCFF00;
    border-radius: 10px;
    grid-area: cart;
    margin-left: 10px;
}


.Checkout {
    border: 2px solid #CCFF00;
    border-radius: 10px;
    grid-area: check;
    padding-top: 50px;
}

h1 {
    background-color: black;
    background-position: center;
    border-radius: 10000px;
    color: #CCFF00;
    font-family: 'Bangers', cursive;
    grid-area: title;
    text-decoration: underline;
    text-decoration-style: double;
}

img {
    object-fit: cover;
}

.top {
    height: auto;
}